<nav id="sidebarMenu" class="sidebar d-lg-block bg-gray-800 text-white collapse" data-simplebar>
    <div class="sidebar-inner px-4 pt-3">

        <ul class="nav flex-column pt-3 pt-md-0">

            <!-- Home -->
            <li class="nav-item">
                <a href="@@path../../index.html" class="nav-link d-flex align-items-center">
                    <span class="sidebar-icon"><i class="bi bi-grid"></i></span>
                    <span class="mt-1 ms-1 sidebar-text">Home</span>
                </a>
            </li>

            <!-- Parent -->
            <li class="nav-item">
                <a href="../" class="nav-link">
                    <span class="sidebar-icon text-warning">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708z" />
                        </svg>
                    </span>
                    <span class="sidebar-text">Parent</span>
                </a>
            </li>
            <!-- Dashboard -->
            <li class="nav-item @@if (context.page === 'index') { active }">
                <a href="@@path/pages/CommonConfigColumns/index.html" class="nav-link">
                    <span class="sidebar-icon text-danger"><i class="bi bi-speedometer2"></i></span>
                    <span class="sidebar-text">Dashboard</span>
                </a>
            </li>

            @@if (context.SideBarItems) {
            @@for (var i = 0; i < SideBarItems.length; i++) { @@include('./ForSideBar/Collapsable/_MainItem.html',
                `+(JSON.stringify(SideBarItems[i]))+`) } } <li role="separator"
                class="dropdown-divider mt-4 mb-3 border-gray-700">
                </li>
        </ul>
    </div>
</nav>