<nav id="sidebarMenu" class="sidebar d-lg-block bg-gray-800 text-white collapse" data-simplebar>
    <div class="sidebar-inner px-4 pt-3">

        <ul class="nav flex-column pt-3 pt-md-0">

            <!-- Home -->
            <li class="nav-item">
                <a href="@@path/../../index.html" class="nav-link d-flex align-items-center">
                    <span class="sidebar-icon"><i class="bi bi-grid"></i></span>
                    <span class="mt-1 ms-1 sidebar-text">Home</span>
                </a>
            </li>

            <!-- Parent -->
            <li class="nav-item">
                <a href="../" class="nav-link">
                    <span class="sidebar-icon text-warning">
                        <!-- [SVG icon code unchanged] -->
                    </span>
                    <span class="sidebar-text">Parent</span>
                </a>
            </li>

            <!-- Dashboard -->
            <li class="nav-item @@if (context.page === 'index') { active }">
                <a href="@@path/pages/Crud/index.html" class="nav-link">
                    <span class="sidebar-icon text-danger"><i class="bi bi-speedometer2"></i></span>
                    <span class="sidebar-text">Dashboard</span>
                </a>
            </li>

            <!-- Create -->
            <li class="nav-item">
                <span class="nav-link collapsed d-flex justify-content-between align-items-center"
                    data-bs-toggle="collapse" data-bs-target="#submenu-create">
                    <span>
                        <span class="sidebar-icon text-success"><i class="bi bi-plus-circle-fill"></i></span>
                        <span class="sidebar-text">Create</span>
                    </span>
                    <span class="link-arrow text-muted">
                        <i class="bi bi-chevron-right"></i>
                    </span>
                </span>
                <div class="multi-level collapse @@if (context.page_group === 'create') { show }" id="submenu-create"
                    role="list" aria-expanded="false" data-bs-parent="#sidebarMenu">
                    <ul class="flex-column nav">
                        <li class="nav-item @@if (context.page === 'create') { active }">
                            <a class="nav-link d-flex align-items-center" href="create.html">
                                <span class="sidebar-text-contracted text-success">C</span>
                                <span class="sidebar-text">Create</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <!-- Show -->

<li class="nav-item">
    <span class="nav-link collapsed d-flex justify-content-between align-items-center"
        data-bs-toggle="collapse" data-bs-target="#submenu-show" aria-expanded="false">
        <span>
            <span class="sidebar-icon text-info"><i class="bi bi-eye-fill"></i></span>
            <span class="sidebar-text">Show</span>
        </span>
        <span class="link-arrow text-muted">
            <i class="bi bi-chevron-right"></i>
        </span>
    </span>
    <div class="multi-level collapse @@if (context.page_group === 'show') { show }" id="submenu-show"
        role="list" aria-expanded="false" data-bs-parent="#sidebarMenu">
        <ul class="flex-column nav">
            <li class="nav-item @@if (context.page === 'show') { active }">
                <a class="nav-link d-flex align-items-center" href="/pages/CommonConfigColumns/show.html">
                    <span class="sidebar-text-contracted text-info">S</span>
                    <span class="sidebar-text">Show</span>
                </a>
            </li>
            <li class="nav-item @@if (context.page === 'staticshow') { active }">
                <a class="nav-link d-flex align-items-center"
                    href="/pages/CommonConfigColumns/Showstaticcolumns.html">
                    <span class="sidebar-text-contracted text-info">S</span>
                    <span class="sidebar-text">Static Columns Show</span>
                </a>
            </li>
        </ul>
    </div>
</li>



            <!-- Filter -->
            <li class="nav-item">
                <span class="nav-link collapsed d-flex justify-content-between align-items-center"
                    data-bs-toggle="collapse" data-bs-target="#submenu-simple">
                    <span>
                        <span class="sidebar-icon text-info"><i class="bi bi-funnel-fill"></i></span>
                        <span class="sidebar-text">Filter</span>
                    </span>
                    <span class="link-arrow text-muted">
                        <i class="bi bi-chevron-right"></i>
                    </span>
                </span>
                <div class="multi-level collapse @@if (context.page_group === 'simple') { show }" id="submenu-simple"
                    role="list" aria-expanded="false" data-bs-parent="#sidebarMenu">
                    <ul class="flex-column nav">
                        <li class="nav-item @@if (context.page === 'simple') { active }">
                            <a class="nav-link d-flex align-items-center" href="simple.html">
                                <span class="sidebar-text-contracted text-info">S</span>
                                <span class="sidebar-text">Simple</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <!-- Alter -->
            <li class="nav-item">
                <span class="nav-link collapsed d-flex justify-content-between align-items-center"
                    data-bs-toggle="collapse" data-bs-target="#submenu-alter">
                    <span>
                        <span class="sidebar-icon text-warning"><i class="bi bi-pencil-square"></i></span>
                        <span class="sidebar-text">Alter</span>
                    </span>
                    <span class="link-arrow text-muted">
                        <i class="bi bi-chevron-right"></i>
                    </span>
                </span>
                <div class="multi-level collapse @@if (context.page_group === 'alter') { show }" id="submenu-alter"
                    role="list" aria-expanded="false" data-bs-parent="#sidebarMenu">
                    <ul class="flex-column nav">
                        <li class="nav-item @@if (context.page === 'alter') { active }">
                            <a class="nav-link d-flex align-items-center" href="/pages/CommonConfigColumns/alter.html">
                                <span class="sidebar-text-contracted text-warning">A</span>
                                <span class="sidebar-text">Alter</span>
                            </a>
                        </li>
                        <li class="nav-item @@if (context.page === 'staticalter') { active }">
                            <a class="nav-link d-flex align-items-center"
                                href="/pages/CommonConfigColumns/staticalter.html">
                                <span class="sidebar-text-contracted text-warning">A</span>
                                <span class="sidebar-text">Static Columns Alter</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <!-- Delete -->
            <li class="nav-item">
                <span class="nav-link collapsed d-flex justify-content-between align-items-center"
                    data-bs-toggle="collapse" data-bs-target="#submenu-delete">
                    <span>
                        <span class="sidebar-icon text-danger"><i class="bi bi-trash-fill"></i></span>
                        <span class="sidebar-text">Delete</span>
                    </span>
                    <span class="link-arrow text-muted">
                        <i class="bi bi-chevron-right"></i>
                    </span>
                </span>
                <div class="multi-level collapse @@if (context.page_group === 'delete') { show }" id="submenu-delete"
                    role="list" aria-expanded="false" data-bs-parent="#sidebarMenu">
                    <ul class="flex-column nav">
                        <li class="nav-item @@if (context.page === 'deletestatic') { active }">
                            <a class="nav-link d-flex align-items-center" href="/pages/CommonConfigColumns/delete.html">
                                <span class="sidebar-text-contracted text-danger">D</span>
                                <span class="sidebar-text">Delete</span>
                            </a>
                        </li>
                        <li class="nav-item @@if (context.page === 'deleteconfig') { active }">
                            <a class="nav-link d-flex align-items-center"
                                href="/pages/CommonConfigColumns/staticdelete.html">
                                <span class="sidebar-text-contracted text-danger">D</span>
                                <span class="sidebar-text">Static Columns Delete</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li role="separator" class="dropdown-divider mt-4 mb-3 border-gray-700"></li>
        </ul>
    </div>
</nav>