<nav id="sidebarMenu" class="sidebar d-lg-block bg-gray-800 text-white collapse">
    <div class="sidebar-inner px-4 pt-3">
        <div
            class="user-card d-flex d-md-none align-items-center justify-content-between justify-content-md-center pb-4">
            <div class="d-flex align-items-center">
                <div class="avatar-lg me-4">
                    <img src="@@path/assets/img/team/profile-picture-3.jpg"
                        class="card-img-top rounded-circle border-white" alt="Bonnie Green">
                </div>
                <div class="d-block">
                    <h2 class="h5 mb-3">Hi, Jane</h2>
                    <a href="@@path/pages/examples/sign-in.html"
                        class="btn btn-secondary btn-sm d-inline-flex align-items-center">
                        <svg class="icon icon-xxs me-1" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1">
                            </path>
                        </svg>
                        Sign Out
                    </a>
                </div>
            </div>
            <div class="collapse-close d-md-none">
                <a href="#sidebarMenu" data-bs-toggle="collapse" data-bs-target="#sidebarMenu"
                    aria-controls="sidebarMenu" aria-expanded="true" aria-label="Toggle navigation">
                </a>
            </div>
        </div>
        <ul class="nav flex-column pt-3 pt-md-0">
            <li class="nav-item">
                <a href="#" class="nav-link d-flex align-items-center">
                    <span class="sidebar-icon text-white">
                        <i class="bi bi-grid"></i>
                    </span>
                    <span class="mt-1 ms-1 sidebar-text">Home</span>
                </a>
            </li>
            <li class="nav-item @@if (context.page === 'index') { active }">
                <a href="@@path/pages/index.html" class="nav-link">
                    <span class="sidebar-icon text-danger">
                        <i class="bi bi-speedometer2"></i>
                    </span>
                    <span class="sidebar-text">Dashboard</span>
                </a>
            </li>


            <li class="nav-item">
                <a href="@@path/pages/CommonConfig/index.html" class="nav-link d-flex justify-content-between">
                    <span>
                        <span class="sidebar-icon  text-gray-400">
                            <i class="bi bi-gear"></i>
                        </span>
                        <span class="sidebar-text">CommonConfig</span>
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a href="@@path/pages/CommonConfigColumns/index.html" class="nav-link d-flex justify-content-between">
                    <span>
                        <span class="sidebar-icon text-success">
                            <i class="bi bi-columns-gap"></i>
                        </span>
                        <span class="sidebar-text">CommonConfigColumns</span>
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a href="@@path/pages/Crud/index.html" class="nav-link d-flex justify-content-between">
                    <span>
                        <span class="sidebar-icon text-secondary">
                            <i class="bi bi-pencil-square"></i>
                        </span>
                        <span class="sidebar-text">Crud</span>
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a href="@@path/pages/StaticColumns/index.html" class="nav-link d-flex justify-content-between">
                    <span>
                        <span class="sidebar-icon text-info">
                            <i class="bi bi-layout-sidebar-inset"></i>
                        </span>
                        <span class="sidebar-text">StaticColumns</span>
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a href="@@path/pages/SubTable/index.html" class="nav-link d-flex justify-content-between">
                    <span>
                        <span class="sidebar-icon text-info">
                            <i class="bi bi-table"></i>
                        </span>
                        <span class="sidebar-text">SubTable</span>
                    </span>
                </a>
            </li>

            <li class="nav-item">
                <a href="@@path/pages/Calendar/simple.html" class="nav-link d-flex justify-content-between">
                    <span>
                        <span class="sidebar-icon text-info">
                            <i class="bi bi-table"></i>
                        </span>
                        <span class="sidebar-text">Calendar</span>
                    </span>
                </a>
            </li>


        </ul>

    </div>
</nav>