<li class="nav-item">
    <span class="nav-link collapsed d-flex justify-content-between align-items-center" data-bs-toggle="collapse"
        data-bs-target="#submenu-showOnly">
        <span>
            <span class="sidebar-icon text-success"><i class="bi bi-plus-circle-fill"></i></span>
            <span class="sidebar-text">ShowOnly</span>
        </span>
        <span class="link-arrow text-muted">
            <i class="bi bi-chevron-right"></i>
        </span>
    </span>
    <div class="multi-level collapse @@if (context.page_group === 'showOnly') { show }" id="submenu-showOnly"
        role="list" aria-expanded="false" data-bs-parent="#sidebarMenu">
        <ul class="flex-column nav">

            <li class="nav-item @@if (context.page === 'showOnly') { active }">
                <a class="nav-link d-flex align-items-center" href="@@path/pages/CrudDynamicCol/showOnly.html">
                    <span class="sidebar-text-contracted text-secondary">S</span>
                    <span class="sidebar-text">showOnly</span>
                </a>
            </li>

            <li class="nav-item @@if (context.page === 'ShowOnlyWithOpts') { active }">
                <a class="nav-link d-flex align-items-center" href="@@path/pages/CrudDynamicCol/showOnlyWithOpts.html">
                    <span class="sidebar-text-contracted text-success">WO</span>
                    <span class="sidebar-text">WithOpts</span>
                </a>
            </li>

            <li class="nav-item @@if (context.page === 'ShowOnlyWithSerial') { active }">
                <a class="nav-link d-flex align-items-center"
                    href="@@path/pages/CrudDynamicCol/showOnlyWithSerial.html">
                    <span class="sidebar-text-contracted text-info">WS</span>

                    <span class="sidebar-text">WithSerial</span>
                </a>
            </li>

            <li class="nav-item @@if (context.page === 'ShowOnlyWithOptsAndSrNo') { active }">
                <a class="nav-link d-flex align-items-center"
                    href="@@path/pages/CrudDynamicCol/showOnlyWithOptsAndSrNo.html">
                    <span class="sidebar-text-contracted text-gray-400">OS</span>

                    <span class="sidebar-text">WithOptsAndSrNo</span>
                </a>
            </li>
        </ul>
    </div>
</li>